body {
  display: block;
  margin: 0;
    }
div {}
  .main-0{
    background-image: url("http://f.cl.ly/items/0b383e1f0M472W0o021Z/照片%206.JPG");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 700px;
  }
  .main {
    margin-top: 100px;
    background-color: #fff;
  }
a {
  color: #fff;
}
  h1 {
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 62px;
    font-weight: 200;
    text-align: center;
    border-color: #fff;
    border-width: 3px;
    border-style: solid;
    padding: 20px 35px 20px 35px;
    display: inline-block;
    margin-top: 150px;
  }
  h2 {
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 200;
    text-align: center;
  }
