body {
  display: block;
  margin: 0;
    }
div {}
  .main-1 {
    background-image: url("http://f.cl.ly/items/0b383e1f0M472W0o021Z/照片%206.JPG");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px center;
    text-align: center;
    height: 100%;
    margin: 0px 0px 0px 0px;
  }
  .main-2 {
    background-color: #fff;
    margin: 0px 27px 0px 27px;
  }
  .text {
    text-color: #737373;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 200;
    margin: 0px 27px 15px 27px;
  }
  h1 {
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 62px;
    font-weight: 200;
    text-align: center;
    border-color: #fff;
    border-width: 3px;
    border-style: solid;
    padding: 20px 35px 20px 35px;
    display: inline-block;
    margin-top: 150px;
  }
  h2 {
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 200;
    text-align: center;
    display: inline-flex;
    margin-top: -10px;
    padding: 0 22% 0 22%;
  }
  h3 {
    color: #737373;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 200;
    border-color: #9B9B9B;
    border-width: 2px;
    border-style: solid;
    padding: 10px 17px 10px 17px;
    display: inline-block;
  }
